@import "./base.css";

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body {
  overflow-x: hidden;
}
.container {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1500px;
}

h2 {
  font-size: 3rem;
  padding-left: 2rem;
  font-weight: 500;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
